body{
  margin: 0px;
}
.header{
  font-family: 'Abril Fatface', cursive;
  font-size: calc(8pt + 2vw);
  text-align: center;
  background-color: rgba(22,22,22,.2);
  color: #FFFFFF;
  padding: 5px 0px;
  position: fixed;
  width: 100%;
  height: calc(vw/5);
  text-decoration: none;
}

canvas{
  display: none;
}

.me{
  font-family: "franklin-gothic-urw";
  font-weight: 500;
  font-size: 8pt;
  position: fixed;
  bottom: 1%;
  left: 1%;
  color: white;
  text-shadow: 0px 0.5px black;
  text-decoration: none;
}

#button{
  position: fixed;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'industry-inc-3d';
  font-weight: bold;
  font-size: 16pt;
  width: 150px;
  height:50px;
  border-radius: 10px;
  border: 3px solid black;
  background-color: rgba(255,255,255,.5);
  opacity: 0.8;
  box-shadow: 3px 3px;
  padding-top: 5px;
}
#button:focus{
  outline: none;
}

input{
  background-color: rgba(0,0,0,0);

}
#customType{
  font-size: calc(50px + 3vw);
  border: none;
  text-align: center;
  line-height: inherit;

}
#customType:focus{
  outline: none;
}

.hidden{
  display: none;
}

.optionsContainer{
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom:4%;
  right: 1%;
}

@keyframes flash {
    0%{
      filter: brightness(100%);
    }
    50%{
      filter: brightness(150%);
    }
    100%{
      filter: brightness(100%);
    }
}
.flash{
  animation-name: flash;
  animation-duration: 250ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 3;
}

.option{
  width:20px;
  /* transform: translateX(100%); */
  margin-left: 40%;
}

.optionLabel{
  margin-top: 5px;
  text-align: center;
  font-family: "industry-inc-3d";
  color: grey;
}

.optionContainer{
  margin: 5px 15px;
}

img{
  opacity: 0.3;
}

.fullOpacity{
  opacity: 1;
}

#siteBackground{
  width: 100%;
  height: 100vh;
}

.nameContainer{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  text-align: center;
  font-size: calc(50px + 3vw);
  line-height: 1em;
  width: 100vw;

}

@keyframes blink {
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.style0{
  font-family: 'industry-inc-3d';
  line-height: calc(50px + 3vw);;
  animation-name: blink;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: step-end;
}

.background0{
  background-color: rgb(100,200,255);
}

/* NAME STYLES */

.style1{
  font-family: "lust";
  text-shadow: -3px 0px Red;
}
.style2{
  font-family: "neplus";
  text-transform: uppercase;
  /* font-size: calc(50px + 3vw); */
}
@keyframes driftApart {
  0%{
    letter-spacing: -40px;
  }
  100%{
    letter-spacing: 20px;
  }
}
.style3{
  font-family: "balboa-plus-inline";
  color: white;
  letter-spacing: 20px;
  text-shadow: 0px 0px 10px white;
  /* animation-name: driftApart;
  animation-duration: 2s;
  animation-timing-function: ease-out; */
}
.style4{
  font-family: "madrone-std";
  color: rgb(253,205,40);
  font-size: calc(35px + 3vw);
}
.style5{
  font-family: "sutturah";
  color: #F092DD;
  text-shadow: 3px 3px #392F5A;
}
.style6{
  font-family: "bungee";
  line-height: 80pt;
  color: rgb(253,205,40);
  text-shadow: 0px 10px black;
}
.style7{
  font-family: "Helvetica";
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}
.style8{
  font-family: Futura;
  letter-spacing: 10px;
  color: rgb(100,143,119);
  background-color: rgb(250, 212, 147);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 2vw;
  padding-right: 2vw;
  box-shadow: 0px 5px rgb(202, 116, 114);
  display: inline-block;
}
.style9{
  font-family: "stenciletta-left";
  background-color: white;
  padding: 0px 50px;
  display: inline-block;
}
.style10{
  font-family: "franklin-gothic-urw";
  font-weight: 900;
  color: #ECA72C;
  text-shadow: 15px 0px #221E22;
}
.style11{
  font-family: Garamond;
  font-weight: bold;
  text-transform: lowercase;
  font-size: calc(30px + 3vw);
  color: #222222;
}
.style11:after{
  /* margin-left: calc(5px - 0.5vw); */
  content:".";
}
.style12{
  font-family: "fatfrank";
  text-transform: uppercase;
  color: #FE6847;
  text-shadow: 20px 30px black;
}
.style13{
  font-family: "lust";
  font-style: italic;
  text-decoration: line-through;
}
.style14{
  font-family: Helvetica;
  font-weight: Bold;
  font-size: 42pt;
  text-transform: uppercase;
  /* text-shadow: 0px 42px, 0px -42px, 0px -84px, 0px -126px,
    20px 84px,20px 126px, 20px 168px, 20px 210px; */
  text-shadow: 0px 1em, 0px -1em, 0px -2em, 0px -3em,
    20px 1.5em, 20px 2.5em, 20px 3.5em, 20px 4.5em;
  white-space: nowrap;
}
.style15{
  font-family: 'industry-inc-3d';
}
.style16{
  font-family: "rollerscript-rough";
  color: #DDA15E;
}
.style17{
  font-family: "uppercut-angle";
  color: rgba(0,0,0,0.9);
  text-shadow: 5px 10px #d01e00;
  transform: skew(-10deg, -15deg);
}
.style18{
  font-family: "balboa-plus-fill";
  letter-spacing: -5px;
  background: -webkit-linear-gradient(0deg, white 0%, white 50%, black 50%, black 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.style19{ /*AKA, the Mac*/
  font-family: "orator-std";
  text-transform: lowercase;
}
.style19:before{
  content:"-";
}
.style19:after{
  content:"-";
}
/* BACKGROUNDS */

.background1{
 background-color: white;
}
.background2{
  background-color: rgb(253,205,40);
}
.background3{
  background-color: black;
}
.background4{
  background-color: #222222;
}
.background5{
  background-color: #EEC8E0;
}
.background6{
  background-color: #064789;
}
.background7{
  background-color: black;
}
.background8{
  background-color: rgb(240,194,168);
}
.background9{
 background: repeating-linear-gradient(
  65deg,
  rgb(255, 60, 20),
  rgb(255, 60, 20) 50px,
  black 50px,
  black 100px
  );
}
.background10{
  background-color: #EE5622;
}
.background11{
  background-color: rgb(210,200,190);
}
.background12{
  background-color: #FBB13C;
}
.background13{
  background-color: #FBB13C;
}
.background14{
  background-color: rgb(245,140,94);
}
.background15{
  background-color: rgb(100,200,255);
}
.background16{
  background-color: #FEFAE0;
}
.background17{
  background-color: #fdbd0e;
}
.background18{
  background-color: #F34213;
}

.background19{
  background-color: rgb(255,253,56)
}
